p {
	color: red;
	font-family: cursive;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (width: 360px) {
   /*different styles for media query*/
   p {
   	  color: blue;
   	  font-family: fantasy;
   }

/*   img {
   	   display: block;
   	   margin: auto;
   }*/
}