/* styling by tagname  */
		  img{
		  	width: 250px;
		  	height: 250px;
		  	display: block;
		  	margin: auto;
		  } 
          p {
          	text-align: center;
          	color: red;
          	font-family: cursive;
          }
          		/* styling by id attribute  */
          #lorem{
          	color: black;
          	font-family: fantasy;
          }
          		/* styling by class  */
          .btn{
          	background-color: blue;
          	color: #fff;
          	display: block;
          	margin: auto;
          	padding: 20px;
/*          	margin: 20px;
*/          }

            
            #ulNav {
            	    display: inline-block;
            	    margin: 0;
            	    padding: 0;
                    list-style-type: none;
            }



            li {
                padding: 5px;
            	margin: 5px;
            	background-color: yellow;
            	text-align: center;
            	display: inline;
            }

            li a:hover {
            	background-color: #000;
            	color: #fff;
            	display: inline;
            }


            .center{
            	text-align: center;
            	margin-left: auto;
            	margin-right: auto;
                         }


/*           .dropdown{
           	position: relative;
           	display: inline-block;
           }
*/
           .dropdownContent{
           	  display: none;
           	  position: relative;
           	  background-color: grey;
           	  margin-left: auto;
           	  margin-right: auto;
           }


           /*showing the dropdown*/
           .dropdown:hover .dropdownContent{
           	display: block;
           }
/*
           div.gallery {
	  margin: 5px;
	  border: 1px solid #ccc;
	  float: left;
	  width: 180px;
	}

	div.gallery:hover {
	  border: 1px solid #777;
	}

	div.gallery img {
	  width: 100%;
	  height: auto;
	}

	div.desc {
	  padding: 15px;
	  text-align: center;
	}

*/